/* This file is for your main application css. */
@import "./phoenix.css";

body {
  background-color: #e6ecf0;
  margin: 63px 0 0 0;
  padding: 0;
}

.logo {
  width: 35px;
  margin-right: .75em;
}

.logo .st0 {
  fill: #0f1633;
}

.logo .st1 {
  fill: #fff;
}

a {
  color: #0f1633;
}

button {
  background-color: #0f1633;
  border: 1px solid #0f1633;
}

header {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  top: 0;
}

header h1 {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}


.post-tweet {
  background-color: #f5f8fa;
  padding: 1em;
}

.post-tweet h2 {
  font-size: 1.25em;
}

.post-tweet form {
  margin-bottom: 0;
}
.post-tweet button {
  margin-bottom: 0;
}

.post-tweet textarea {
  font-size: 1em;
  background-color: #fff;
  margin-bottom: .5em;
}

.collapsible {
  padding-left: 2em;
  cursor: pointer;
  font-size: .8em;
  font-weight: bold;
}

.collapsible svg {
  height: 20px;
  fill: #657786;
  margin-right: -2px;
  margin-bottom: -6px;
}

.go-home {
  padding: .75em;
}

/* show reverse by vertical column */
.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}


.tip{
  color:#657786;
  cursor: pointer;
}
.tweet {
  border-radius: .25em;
  background-color: #fff;
  padding: .75em 1em;
  margin: .25em 0;
}

.tweet:hover {
  background-color: #f5f8fa;
}

.message {
  font-size: 1em;
  line-height: 1.1em;
  padding: .5em 0;
  display: flex;
  align-items: center;
}

.message .profile {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: .5em;
}

.message .verified {
  fill: #1da1f2;
  height: 13px;
  margin-bottom: -1px;
  margin-left: 2px;
}

.reply {
  font-size: 1em;
  line-height: 1.1em;
  border-top: 1px solid #e6ecf0;
  padding: .6em;
  display: flex;
  align-items: center;
  color: #657786;
}

.reply:hover {
  background-color: #fff;
  color: #000;
}

.face {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  margin-right: .5em;
}

footer {
  color: #657786;
  font-size: .75em;
  padding: .75em;
}
